body {
  font-family: Arial, sans-serif; /* Example font that supports these characters */
}

li {
  font-size: 1em;
  color: deepskyblue;
}

.blicNod {
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.autocomplete-result {
  cursor: pointer;
  padding: 5px;
}

.highlight {
  background-color: red;
  font-size: 1em;
  color: white;
  border-radius: 5px;
}

body {
background: hsla(210, 90%, 80%, 1);

background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9FCCFA", endColorstr="#0974F1", GradientType=1 );
}

.shd {
  box-shadow: 5px 5px 10px 1px #807478;
}
.tshd {
  text-shadow: 2px 3px 2px #232020, 5px 5px 10px #000;
}
.sh{
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
